.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(205, 255, 255);
    transform-style: preserve-3d;
    min-width: 100px;
    min-height: 120px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card:hover {
    cursor: pointer;
    background-color: rgb(205, 240, 240);
}