@import "../../styles/Background.scss";

.game-container {
    align-items: center;
    background: $common-gradient;
    height: 80vh;
    border-top: 1px solid rgba(253, 255, 221, 1);
}
.counters-container {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    .remainingCouples{
        font-weight: bold;
        font-size: large;
    }
}
.cards-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card-container {
    display: flex;
    justify-content: center;
}
.easy-game {
    flex-basis: calc(20% - 10px);
}
.medium-game {
    flex-basis: calc(15% - 10px);
}
.difficult-game {
    flex-basis: calc(15% - 10px);
    margin-bottom: 0.5%;
}
.back-button {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    left: 20px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    .arrow {
        border: 2px solid black;
    }
    .arrow:hover {
        border: 3px solid black;
    }
}
.back-button:hover {
    cursor: pointer;
    color: "grey";
}
