@import "../../styles/Background.scss";

.game-container {
    align-items: center;
    background: $common-gradient;
    height: 80vh;
    border-top: 1px solid rgba(253, 255, 221, 1);
}
.counters-container {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.cards-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card-container {
    display: flex;
    justify-content: center;
}
.easy-game {
    flex-basis: calc(20% - 10px);
}
.medium-game {
    flex-basis: calc(15% - 10px);
}
.difficult-game {
    flex-basis: calc(15% - 10px);
    margin-bottom: 0.5%;
}
